<div class="toolbar" role="banner">
  
  <span>Welcome</span>
   

    <span>{{ title }} app is running!</span><br><br>
    Customer code : <input [(ngModel)] = "CustomerModel.CustomerCode" type = text /><br>
    Customer Name : <input [(ngModel)] = "CustomerModel.CustomerName" type = text /><br>
    Customer Amount : <input [(ngModel)] = "CustomerModel.CustomerAmount" type = text /><br>
    <input type = "button" value="Add"><br><br>
    {{CustomerModel.CustomerCode}}<br>
    {{CustomerModel.CustomerName}}<br>
    {{CustomerModel.CustomerAmount}}<br>
    
  </div>

 
<router-outlet></router-outlet>
